.list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
}

.listItem {
    list-style: none;
    padding: 16px;
    border: 3px solid rgba(255, 255, 255, 0.1);
    border-radius: 9px;
}

.itemName b, .itemLanguage b {
    margin-right: 8px;
}

.itemLink {
    display: block;
    background-color: var(--Colorbutton);
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    margin-top: 8px;
    padding: 8px;
    text-decoration: none;
    border-radius: 3px;
}